<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <img src= "https://s3.amazonaws.com/codecademy-content/projects/3/calendar/logo.svg" width="51">
      </div>
    </div>

    <div class="main">
      <div class="container">

        <%= yield %>

      </div>
    </div>

  

  </body>
</html>
